//Document   : blogtrackers.config
//Created on : 6/10/2010
//Author     : shamanth
//Description: Stores the configuration of the application
dbConnection##jdbc:mysql://blogtrackers.host.ualr.edu:3306/blogtrackers
dbUserName##ukraine_super
dbPassword##summer2014
stopWords##C:\indices\stopwords.txt
searchIndex##C:\indices\blogtrackers-index\
freqTermIndex##C:\indices\index1\
bloggerPostIndex##C:\indices\index2\
searchIndex##C:\indices\blogtrackers-index\
alertIndex##C:\indices\index3\
stopWords##C:\indices\stopwords.txt
watchLoc##C:\indices\watchfiles\